/* hero part */

.hero-section {
  position: relative;
  background-color: #7C9085;
  background-image: radial-gradient(142% 91% at 83% 7%, #B1CBBD 1%, #FF000000 99%), radial-gradient(142% 91% at -6% 74%, #839C8E 1%, #FF000000 99%);
  min-height: 500px;
  overflow: hidden;
}

.hero-content {
  display: flex;
  align-items: flex-start;
  position: relative;
  min-height: 500px;
  height: 990px;
}

.hero-text {
  z-index: 2;
  max-width: 600px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  padding: 1.5rem;
}

.hero-subtitle {
  font-size: 1rem;
  text-transform: uppercase;
  opacity: 0.8;
}

.hero-content h2 {
  font-size: 4.375rem;
  font-weight: 400;
  margin: 0;
}

.hero-desc {
  font-size: 1.1rem;
  color: #e0eae4;
  text-transform: uppercase;
  line-height: 1.4;
}

.hero-img {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  max-height: 990px;
  width: auto;
  z-index: 1;
  pointer-events: none;
  user-select: none;
  object-fit: contain;
}

.hero-subtitle-button{
  font-size: 15px;
  text-transform: uppercase;
  /* max-width: 13.3125rem; */

  display: flex;
  gap: 12px;
  align-items: center;
}
.hero-subtitle-button img{
  height: 2rem;
  width: 2rem;
}

/* Адаптив */
@media (max-width: 600px) {
  .hero-content {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 380px;
  }

  .hero-img {
    position: static;
    width: 100%;
    height: auto;
  }
  .hero-content.error-hero-content{
    flex-direction: column-reverse;
    justify-content: center;
  }
}




/* services part */

.services-main {
  background: #fff;
}

.services-main-row {
  display: flex;
  gap: 8.75rem;
  justify-content: center;

  margin: 0 auto;
  padding: 12.5rem 5rem;
}

.img-placeholder {
  width: 47.25rem;
  height: auto;
}

.services-main-row__text {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: flex-end;

  font-size: 16px;
  line-height: 120%;
  max-width: 51.6875rem;
}

.services-main-row__text h3 {
  margin-bottom: 3.75rem;

  font-size: 90px;
  font-weight: 400;
  line-height: 80%;
}

@media (max-width: 1200px) {
  .services-main-row {
    gap: 4rem;
    padding: 8rem 3rem;
  }

  .img-placeholder {
    width: 35rem;
    height: 30rem;
  }

  .services-main-row__text h3 {
    font-size: 4rem;
    margin-bottom: 2.5rem;
  }

  .services-main-row__text {
    gap: 2rem;
    overflow: scroll;
  }
}

@media (max-width: 900px) {
  .services-main-row {
    flex-direction: column;
    gap: 3rem;
    padding: 5rem 2rem;
    align-items: center;
  }

  .img-placeholder {
    width: 100%;
    max-width: 30rem;
    height: auto;
  }

  .services-main-row__text h3 {
    font-size: 3rem;
    margin-bottom: 2rem;
    width: 80vh;
  }

  .services-main-row__text p {
    max-width: 80%;
  }
}

@media (max-width: 600px) {
  .services-main-row {
    padding: 3rem 1rem;
    gap: 2rem;
  }

  .img-placeholder {
    width: 21.4375rem;
    height: 18.75rem;
  }

  .services-main-row__text {
    gap: 1.5rem;
  }

  .services-main-row__text h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    line-height: 100%;
  }

  .services-main-row__text p {
    font-size: 0.9rem;
    line-height: 140%;
  }
}

@media (max-width: 400px) {
  .services-main-row {
    padding: 2rem 0.5rem;
  }

  .services-main-row__text {
    gap: 1rem;
  }

  .services-main-row__text h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .services-main-row__text p {
    font-size: 0.85rem;
  }
}



/* cards part */

.service-cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.service-card {
  /* background: #F2F2F2; */
  border-radius: 2rem 8rem 8rem 2rem;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.04);

  display: flex;
  gap: 24px;
  justify-content: space-between;
  align-items: flex-start;

  max-width: 1350px;
  padding: 32px;
  margin: 0 auto;
  overflow-x: auto;
}

.service-card .last-element {
  align-items: center;
}

.service-card__tags {
  display: flex;
  flex-wrap: wrap;
  gap: .625rem;
  width: 30rem;
  margin-bottom: 18px;
  overflow-x: auto;
  padding-bottom: 4px;
}

.service-card__tags span {
  border: 1px solid #B3D9AE;
  color: #007D21;
  border-radius: 16px;
  padding: 6px 16px;
  font-size: 15px;
  text-transform: uppercase;
  background: inherit;
  white-space: nowrap;
}

.service-card__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}

.service-card__content h3 {
  font-size: 2rem;
  line-height: 90%;
  font-weight: 400;
  text-transform: uppercase;
}

.service-card__content p {
  font-size: 1rem;
  color: #222;
  max-width: 27rem;
}

.service-card__more {
  display: inline-flex;
  align-items: center;
  gap: .75rem;

  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;

  padding: 6px 14px;
}

.service-card__arrow {
  font-size: 1em;
  background: #fff;
  border: 1px solid #007D2133;
  color: #007D21;
  border-radius: 50%;

  padding: 0.5rem 0.7rem;
}

.service-card__image {
  width: 180px;
  height: 180px;

  align-items: center;
}

.service-card__image img {
  width: 100%;
  height: 100%;
  align-items: center;
}

@media (max-width: 900px) {
  .service-card__content {
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
  }

  .service-card__image {
    width: 140px;
    height: 140px;
    margin: 0 auto;
  }

  .service-card__tags {
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .service-card {
    flex-direction: column;
    align-items: stretch;
    gap: 16px;
    padding: 12px;
    border-radius: 1.25rem;

    align-items: stretch;
    position: relative;
  }

  .service-card__tags {
    gap: 6px;
    margin-bottom: 10px;
  }

  .service-card__tags span {
    font-size: 12px;
    padding: 3px 10px;
  }

  .service-card__content h3 {
    font-size: 1.25rem;
  }

  .service-card__content p {
    font-size: 1rem;
  }

  .service-card__image img {
    width: 10rem;
    height: 10rem;
  }

  .service-card__more {
    font-size: 13px;
    margin-top: 8px;
  }
}



/* work info part */

.company-info {
  background: #F2F2F2;
  border-radius: 2rem;
  padding: 3.75rem;
  max-width: 84.375rem;
  margin: 2.5rem auto 12.5rem auto;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.04);
}

.company-info-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 48px;
  max-width: 1200px;
  margin: 0 auto 36px auto;
}

.company-info-row>div,
.company-info-row>img {
  flex: 1 1 0;
  min-width: 0;
}

.company-info-row>div {
  min-width: 320px;
  max-width: 52%;
}

.company-info-row>img {
  width: auto;
  height: 100%;
  border-radius: 18px;
  object-fit: cover;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.07);
}

.company-info__text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.company-info-row h3,
.company-info-row h4 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 80%;
  letter-spacing: 0%;
}

.company-info-row h4 {
  font-size: 1.875rem;
  line-height: 90%;
}

.company-info-row p {
  font-size: 1rem;
  line-height: 120%;
  letter-spacing: 0%;
}

.company-info-row ul {
  font-size: 1rem;
  line-height: 120%;
  list-style-type: none;
}

.company-info-row ul li {
  margin-bottom: 0.375rem;
}

.company-info-row p {
  margin: 1.5rem 0 .75rem 0;
}


@media (max-width: 1000px) {
  .company-info {
    margin: 1rem;
  }

  .company-info-row {
    flex-direction: column;
    gap: 28px;
    align-items: stretch;
  }

  .company-info-row>div,
  .company-info-row>img {
    max-width: 100%;
    min-width: 0;
  }

  .company-info-row>img {
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .company-info {
    margin: 0 1rem;
    padding: 1rem;
    border-radius: 12px;
  }

  .company-info-row {
    gap: 18px;
    margin-bottom: 18px;
  }

  .company-info-row img {
    max-width: auto;
    height: 16.25rem;
  }

  .company-info-row h3,
  .company-info-row h4 {
    font-size: 1.2rem;
  }

  .company-info-row p,
  .company-info-row ul {
    font-size: 0.98rem;
  }
}






/* services V1 page */

.article {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  max-width: 1200px;
  margin: 0 auto 2.5rem auto;
  padding: 0 1.5rem;
}

.article-container {
  display: flex;
  gap: 2.5rem 3.5rem;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  align-items: start;
}

.article-container p,
.text-info-group {
  max-width: 100%;
}

.text-info-group p {
  margin-bottom: 1.1rem;
}

.text-info-group,
.border-text {
  border-bottom: 1px solid #7C9085;
  margin-bottom: 5.625rem;
  padding-bottom: 0.5rem;
}

.green-text {
  font-size: 1.1rem;
  color: #2CA24C;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.article h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 1.2rem;
  color: #303A30;
}

.beetle-control-info___photos {
  display: flex;
  gap: 1.5rem;
  max-width: 100%;
  margin-top: 1.5rem;
}

.beetle-control-info___photos img {
  max-height: 220px;
  max-width: 220px;
  border-radius: 1rem;
  object-fit: cover;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.07);
}

.buttons-container {
  display: flex;
  gap: 10rem;
}

.button-container {
  text-transform: uppercase;
  font-size: .9375rem;

  display: flex;
  gap: .75rem;
}

.button-container img {
  width: 36px;
  height: 36px;
  border: 1px solid #007D2133;
  border-radius: 50%;
  background: transparent;
  display: inline-block;
  padding: 0.5rem;
}


#arka {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .beetle-control-info___photos {
    /* flex-direction: column; */
    align-items: flex-start;
    gap: 1rem;
  }
}

@media (max-width: 600px) {
  .article-container {
    flex-direction: column;
    gap: 2rem;
  }

  .article {
    padding: 0 0.5rem;
    gap: 1.5rem;
  }

  .article-container {
    gap: 1.2rem;
  }

  .article h3 {
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
  }

    .beetle-control-info___photos{
      justify-content: center;
    }

  .beetle-control-info___photos img {
    max-width: 100%;
    max-height: 140px;
  }

  #arka {
    max-width: 100%;
  }
}

/* --- cuts-section (статья, фото1) --- */

.cuts-section {
  font-size: 33px;


  gap: 2.5rem 3.5rem;
  justify-content: space-around;
  margin: 0 1rem;
  align-items: start;
  max-width: 100%;
}

.article2 {
  text-align: right;
}

#dopText {
  font-size: 33px;
  max-width: 60rem;
  margin: 5rem;
}

@media (max-width: 900px) {
  .cuts-section {
    flex-direction: column;
    gap: 2rem;
    max-width: 80vw;
    align-items: center;
  }

  .cuts-section .article {
    max-width: 100%;
  }
}

/* --- subscription-carousel (абонементы, фото2-3) --- */

.abonement-card {
  background-color: #F2F2F2;
  border-radius: 1rem;
  padding: 2.5rem;
  margin: 50px auto;
  max-width: 70rem;
  /* max-height: 119.375rem; */
}

.abonement-main {
  display: flex;
  gap: 32px;
  max-width: 1100px;
  margin: 0 auto 32px auto;

  display: flex;
  gap: 1.25rem;
}

#green-card-abonement-main{
  flex-direction: row-reverse;
}

.abonement-main__left {
  background: #fff;
  border-radius: 1rem;
  padding: 32px 32px 24px 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5625rem;
  min-width: 320px;
}

.abonement-title {
  font-size: 1.35rem;
  font-weight: 700;
  background: #F2F2F2;
  border-radius: 12px;
  padding: 12px 18px;
  text-align: center;
}

.abonement-plan {
  text-align: center;
}

.abonement-desc-title,
.abonement-plan {
  font-size: 26px;
  text-transform: uppercase;
  margin: 0.5rem 0;
}

.abonement-desc {
  font-size: 1.125rem;
}

.abonement-desc ul {
  list-style: none;
}

.abonement-desc li {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1rem;
}

.abonement-container {
  background-color: #F2F2F2;
  border-radius: .875rem;
  padding: 24px 16px;
}

.abonement-price {
  background: #E8F5E7;
  color: #007D21;
  font-size: 1.15rem;
  border-radius: 8px;
  padding: 10px 0;
  text-align: center;
  margin-bottom: 12px;
}

.abonement-btns{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6875rem;
}
.abonement-butn{
  border: none;
  background-color: #fff;
}
.abonement-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.abonement-main__right img {
  width: 100%;
  max-width: 51.9375rem;
  max-height: 38.75rem;
  height: auto;
  object-fit: cover;
}

.abonement-works {
  max-width: 1100px;
  margin: 0 auto;
}

.abonement-works__title {
  font-size: 2.0625rem;
  font-weight: 700;
  margin-bottom: 3.375rem;
}

.abonement-works__grid {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
  display: flex;
  flex-wrap: wrap;
  gap: 18px 24px;
  overflow-y:scroll;
  justify-content: center;
  flex: 1 1 100%;
}

.abonement-works__card {
  background: #fff;
  border-radius: 1rem;
  padding: 1.5rem;
  padding-left: 1rem;
  width: 31.25rem;
  /* margin: 1rem; */
}

.abonement-works__card-title {
  font-size: 2.0625rem;
  background-color: #F2F2F2;
  border-radius: .75rem;
  padding: .75rem 0;
  text-align: center;
  margin-bottom: 24px;
}

.abonement-works__card ul {
  margin: 0;
  padding-left: 18px;
  background-color: #F2F2F2;
  border-radius: .75rem;

  list-style-type: decimal-leading-zero;
  overflow: auto;
}


.abonement-works__card ul li::marker {
  color: #007D21;
}


.abonement-works__card li {
  font-size: 1.125rem;
  margin-bottom: 24px;

  text-transform: uppercase;
}

@media (max-width: 900px) {
  .abonement-main {
    gap: 18px;
    max-width: 31.25rem;
  }
  #green-card-abonement-main{
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
  }

  .abonement-main__right img {
    max-width: 100vw;
    height: auto;
  }

  .abonement-works {
    max-width: 98vw;
  }
}

@media (max-width: 600px){
  .abonement-works__grid{
    flex: 1 100%;
  }
}

.green-card{
  background-color: #7C9085;
}
#green-card-white-text{
  color: #fff;
}



/* error path */

.error-container{
  margin: 3.125rem auto;
  background-image: radial-gradient(75% 75% at 50% 50%, #7C908573 0%, #71C4FF00 46%);
}

.error-container,
.error-container-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.125rem;
}

.error-container img:first-child{
  height: auto;
  width: 100%;

  max-width: 1143px;
  max-height: 578px;
}

.error-container h2{
  font-size: 70px;
}



/* white section */

.white-mode:not(#_) {
  background-color: #F2F2F2;
  color: #303A30;
}

.white-mode.services-hero-subtitle {
  color: #007D21;
}

.white-mode h2,
.white-mode.breadcrumbs.current-pages,
.hero-subtitle-button {
  color: #303A30;
}

/* .img-placeholder {
  width: 100%;
  max-width: 573px;
  height: 25.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.hero-bg-img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  display: block;
}

@media (max-width: 600px) {
  .img-placeholder {
    width: 100%;
    max-width: 100vw;
    height: auto;
    min-height: 180px;
    max-height: 320px;
  }

  .hero-bg-img {
    width: 100%;
    height: auto;
    max-width: 100vw;
    max-height: 320px;
  }
} */